@import "normalize.css";

:root {
  --light: #fbf4e6;
  --peach: #faced3;
  --green: #464c19;
  --border-radius: 0px; /* Define a variable for border-radius */
}
* {
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 16px;
  padding: 2rem;
}
.accordion {
  position: relative;
  overflow: hidden;
  height: 350px;
  border-radius: var(--border-radius);
  aspect-ratio: 2/1;
}
.accordion--light {
  background-color: var(--light);
  color: var(--green);
}
.accordion--peach {
  background-color: var(--peach);
  color: var(--green);
}
.accordion--green {
  background-color: var(--green);
  color: var(--light);
  .accordion__button {
    background-color: var(--light);
    color: var(--green);
  }
}
.accordion__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: inherit;
  text-transform: uppercase;
}
.accordion__subtitle {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: inherit;
  text-transform: uppercase;
}
.accordion__text {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: inherit;
}
.accordion__item {
  display: flex;
  gap: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  margin: 0 auto;
  padding: 1rem;
  border-radius: var(--border-radius);
  transition: all 1s ease;
  cursor: pointer;
}
/* Accordion Items */
.accordion__item:nth-child(1) {
  z-index: 1;
  transform: translateX(0px);
}
.accordion__item:nth-child(2) {
  z-index: 2;
  transform: translateX(calc(100% - 100px));
}
.accordion__item:nth-child(3) {
  z-index: 3;
  transform: translateX(calc(100% - 50px));
}
/* Active Accordion Items  */
.active.accordion__item:nth-child(1) {
  z-index: 1;
  transform: translateX(0px);
}
.active.accordion__item:nth-child(2) {
  z-index: 2;
  transform: translateX(calc(50px));
}
.active.accordion__item:nth-child(3) {
  z-index: 3;
  transform: translateX(calc(100px));
}
.accordion__image {
  border-radius: var(--border-radius);
  aspect-ratio: 1/1.25;
  max-width: 250px;
  object-fit: cover;
}
.accordion__content {
  padding: 1rem;
}
.accordion__label {
  writing-mode: vertical-rl;
  transform: rotate(360deg);
  text-transform: uppercase;
}
.accordion__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  padding: 10px 1rem;
  background-color: var(--green);
  color: var(--light);
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  border-radius: var(--border-radius); /* Use the variable for border-radius */
  cursor: pointer;
  transition: background-color 0.3s ease;
}
